* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    background-color: #FCF5ED;
    font-family: 'Open Sans';
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url(OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

#header {
    background-color: white;
    padding: 15px;
    font-family: 'Open Sans';

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 9rem;
}


.menu {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    font-family: 'Open Sans';


}

.fa-brands {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

.logo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.user {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
}

a {
    color: black;
}

.video {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;

}

#buscar {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px;

}

#buscar input {
    width: 950px;
    height: 55px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}



.contatos {
    align-items: center;
    display: flex;
}

#banner {
    border-radius: 5px;
    height: 350px;
}

#botao {
    background: white;
    height: 55px;
    color: white;
    width: 70px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.linha {
    width: 2.893px;
    height: 234px;
    flex-shrink: 0;
    background: #F69100;
}

.titulo {
    color: #000;

    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.texto {
    color: #5F6368;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quadrado1 {
    width: 50%;
    display: flex;
    justify-content: left;
}

.botao button {
    width: 145px;
    height: 35px;
    flex-shrink: 0;
    background-color: #F69100;
    color: white;
    border-radius: 20px;
    font-family: 'Open Sans';

}

.textos {
    margin: 25px;
}

.container1 {
    display: flex;
    margin: 50px;
    height: 456.342px;
    align-items: center;
    justify-content: center;
}

.quadrado2 {
    align-items: center;
    justify-content: center;

}

#lupa {
    height: 25px;
    width: auto;
}


.container2 {
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    /* background-image: url(Bolhas\ 01.png);
    background-size: 100%;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;


}

.textoTemplate {
    width: 410px;
    height: 428px;
    flex-shrink: 0;
    color: #5F6368;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.textos3 {
    margin: 20px;
}

.template-texto {
    height: 500px;
    margin: 10px;
    box-shadow: 1px 1px 4px 0px#c9c4bd;


}


.titulo-template {
    color: #000;
    font-family: 'Open Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tudo {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
}




.container3 {
    width: 100%;
    height: 640px;
    flex-shrink: 0;
    background-color: #594949;
    justify-content: center;
    align-items: center;
    margin-top: 75px;


}

.img1,
.img2 {
    width: 287px;
    height: 200px;
    flex-shrink: 0;
    margin: 30px;

}

.conjuntos {
    flex-direction: column;
    margin: 15px;
}

.templates {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.titulo-templates {
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 20px;
}

.linha-marrom {
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    background: #9C8888;
}


.container4 {
    height: 750px;
}


.img-grupo {
    width: 736px;
    height: 482px;
    flex-shrink: 0;

}


.textos-container4 {
    align-items: center;
    justify-content: right;
    margin: 50px;
    margin-top: 80px;
}

.linha-barra {
    width: 2.893px;
    height: 443px;
    flex-shrink: 0;
    background: #F69100;
}

.titulo-container4 {
    color: #000;
    text-align: right;
    color: #000;

    /* Título */
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.texto-container4 {
    color: #5F6368;
    text-align: right;

    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.tudo-container4 {
    display: flex;
    margin: 50px;

}

.linha-cinza {
    width: 750px;
    height: 3px;
    flex-shrink: 0;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 30px auto;
    align-items: center;
    text-align: center;
    display: flex;

}

.clientes {
    color: #000;
    text-align: center;
    width: 575px;
    height: 93px;
    flex-shrink: 0;
    font-family: 'Open Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 auto;
}



.forum {
    color: #5F6368;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    /* display: flex; */
    height: 25px;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.tudo-clientes {
    text-align: center;
    align-items: center;
}

.container42 {
    text-align: center;
    align-items: center;
}


.container5 {
    width: 1440px;
    height: 420px;
    flex-shrink: 0;
    background: #594949;
}

.tudo-comentarios {
    width: 300px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.fotoPerfil {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 53px;
    background: url(LeoFanArt.png), rgb(255, 255, 255) 50% / cover no-repeat;
}

.estrelas {
    width: 112px;
    height: 21.111px;
    flex-shrink: 0;
    
}

.linhaCinza {
    width: 248px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(176, 176, 176, 0.44);
}

.nomeComent {
    color: #000;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
}

.cima-5 {
    display: flex;
    
}


